.compose {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #4CAF50; */
}

.attachments-div{
    padding: 30px;
    margin: 20px;
}

.save-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* .send-btn{
    background-image: url('./send.png');
} */

.container{
    /* display: flex; */
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    
}
.compose h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.compose form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #84c3bd;

    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px #888888;
}

.compose label {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.compose input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #888888;
}

.compose button {
    background-color: #333;
    border: none;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    /* margin: 15px; */
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 0 5px #888888;
    cursor: pointer;
    margin-top: 20px;
}

.compose textarea {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #888888;
    resize: none;
}