.outer{
  overflow: hidden;

}
.attachments {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

}

.down-btn{
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.down-btn:hover {
  background-color: #45a049;
  /* shadow */
  box-shadow: 0 0 10px #000000;
}
.mail-page-container {
  display: flex;
  height: calc(100vh);
  margin-left: 210px;
  overflow-y: scroll; 
  overflow-x: scroll;
  overflow: hidden;
}

.mail-list-container {
  width: 35%;
  background-color: #ffffffec;
  overflow-y: scroll;
  overflow-x: scroll;

}

.mail-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mail-list-box h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}



.mail-list li {
  padding: 10px;
  border-bottom: 1px solid #797474;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.mail-list li.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
}

.mail-list li:hover {
  background-color: #d6d2d2;
}

.mail-item {
  display: flex;
  flex:1;
  /* justify-content: space-between; */
  /* background-color: #dddee0; */
  align-items: center;
  font-size: 1.5em;
}
.left-box{
  display: flex;
  flex-direction: column;
  width:80%;
  font-size: 20px;
}

.left-upper-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:80%;
  font-size: 17px;
}

.left-lower-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:80%;
  margin: 0px;
  /* overflow-y: hidden; */
  font-size: 25px;
}

.right-box{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mail-star{
  font-size: 1.5em;
  cursor: pointer;

}
.icon{
  height: 100%;
}
.mail-star-starred{
  font-size: 1.5em;
  color: #c59d00;
  cursor: pointer;
}

.mail-status {
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 3px;
}

.mail-status-read {
  
  color: #3a3c3e;
  padding: 3px;
}

.mail-status-subj {
  font-weight: bold;
  color: rgb(0, 0, 0);
  overflow: hidden;
  padding: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.mail-status-subj-read {
  
  color: #3a3c3e;
  padding: 3px;
  margin-top: 0px;
  margin-bottom: 0px;

  overflow: hidden;
}

.no-wrap{
  overflow: hidden;
}


.mail-display {
  border: 1px solid #ddd;
  padding: 20px;
  width: 65%;
  overflow-wrap: break-word;

  
}

.mail-display h2 {
  font-size: 24px;
  /* margin-bottom: 10px; */
  /* padding: 30px; */
}





.mail-status .mail-status-read {
  flex: 1;
}



.secondary-navigation{
  /* background-color: #007bff; */
  align-items: baseline;
  height: auto;
  width: 100%;
  /* items should be in horizontal */
  display: flex;
  justify-content: left;
  padding: 30px;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  /* margin-left: -40px; */

}

.sender-text{
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  padding-left: 30px;



}

@media screen and (max-width: 768px) {
  .mail-page-container {
    flex-direction: column;
    height: auto;
  }
  
  .mail-list-container {
    width: 100%;
  }
}

.mail-list-box {
  padding: 20px;
}

.content-above1{
  border: #000000;
}
.content-above2{
  border: #000000;
 
}
.content-above0{
  border: #000000;
  
}







.resize-handle {
  position: absolute;
  top: 0;
  right: -5px;
  height: 100%;
  width: 10px;
  cursor: col-resize;
  background-color: #bbb;
}

.mark-read-unread {
  color: #262728;
  cursor: pointer;
  margin-right: 3px;
}

.delete-button{
  color: #262728;
  cursor: pointer;
  background-color: #007bff;
  width: wrap-content;
}
