.outer{
  /* display: flex; */
  height: 100vh;
  overflow-y: scroll; /* Add vertical scrollbar */
  overflow-x: scroll;

}

.navigation {
  position: relative;
  width: 170px; /* Adjust the width as needed */
  height: calc(100%); /* Set the navigation height to cover the full viewport */
  background-color: #e7e6e8; /* Set the background color as desired */
  padding: 20px;
  float: left; /* Float the navigation to the left */
  padding-top: 200px;
  border-right: #1a1919 solid 5px;
  border-left: #1a1919 solid 5px;
  border-top: #1a1919 solid 2px;
}

.navigation  ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation  li {
  margin-bottom: 20px;
  font-size: 26px; /* Adjust the font size as needed */
  padding-bottom: 30px;
  
}
.navigation li a {
  text-decoration: none; /* Remove underline */
  color: #040404;
}

.navigation li a:hover {
  color: #250ddb; 
  /* color: #000000; */
}

.navigation li.active {
  /* background-color: #f0f0f0; Set the background color for the active page */
  font-weight: bold; /* Apply a different font weight or any other styles */
  font-style: oblique;
  font-size: 32px ;
  /* Add any additional styles to highlight the active page */
}

.navigation button{
  /* keep the button to the bottom of navigation bar */
  position: relative;
  bottom: 0;
  margin-bottom: 40px;
  margin-top: 100px;
  width: 120px;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  color: #e73535;
  background-color: #f2f2f2;
  cursor: pointer;
}

.navigation button:hover{
  color: #f2f2f2;
  background-color: #e73535;
  /* shadow */
  box-shadow: 0 0 10px #000000;
}

.mail-page-container {
  display: flex;
  height: calc(100vh);
  margin-left: 210px;
  /* hide vertical scroll-bar */
  /* overflow-y: hidden; */
  overflow-y: scroll; /* Add vertical scrollbar */
  overflow-x: scroll;
}

.mail-list-container {
  width: 35%;
  background-color: #ffffffec;

  overflow-y: scroll; /* Add vertical scrollbar */
  overflow-x: scroll;

}

.mail-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mail-list-box h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-box{
  width: 90%;
  /* bring this to the center */
  margin-left: 2%;
  padding: 15px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #1a1919;
}

.input-box:focus{
  border: 5px solid #007bff;
  outline: auto;
  /* make it pop out */
  box-shadow: 0 0 10px #000000;
  

}


.mail-list li {
  padding: 10px;
  border-bottom: 1px solid #797474;
  background-color: #ffffff;
  /* cursor: pointer; */
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.mail-list li.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
}

.mail-list li:hover {
  background-color: #d6d2d2;
}

.mail-item {
  display: flex;
  flex:1;
  /* justify-content: space-between; */
  /* background-color: #dddee0; */
  align-items: center;
  font-size: 1.5em;
}
.left-box{
  display: flex;
  flex-direction: column;
  width:80%;
}

.right-box{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #250ddb; */
}
.mail-star{
  font-size: 1.5em;
  /* height: max-content; */
  cursor: pointer;

}
.icon{
  height: 100%;
}
.mail-star-starred{
  font-size: 1.5em;
  color: #c59d00;
  cursor: pointer;
}

.mail-status {
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.mail-status-read {
  
  color: #3a3c3e;
  padding: 10px;
}

.mail-display-container {
  flex: 1;
  padding: 0px;
  background-color: #ebe5e5;
  /* background-color: #ee2020; */
}

.mail-display {
  border: 1px solid #ddd;
  padding: 20px;
  width: 100%;
  
}

.mail-display h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.mail-display {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  margin: 20px 0;
}



.mail-status .mail-status-read {
  flex: 1;
}





.secondary-navigation{
  /* background-color: #007bff; */
  align-items: baseline;
  height: auto;
  width: 100%;
  /* items should be in horizontal */
  display: flex;
  justify-content: left;
  padding: 30px;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  margin-left: -40px;

}

.move-to-trash-button{
  /* margin-left: auto; */
  margin-right: 20px;
  font-size: 30px;
  padding: 10px;
  color:  #e73535;;
  border-radius: 10px;
  border: 2px solid #1a1919;
  background-color: #ffffffec;
  cursor: pointer;
}

.move-to-trash-button:hover{
  color: #ffffffec;
  background-color: #e73535;
  /* shadow */
  box-shadow: 0 0 10px #000000;
}

.reply-button{
  /* margin-left: auto; */
  margin-right: 20px;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  color:#007bff;
  border: 2px solid #1a1919;
  background-color: #ffffffec;
  cursor: pointer;
}

.restore-btn{
  /* margin-left: auto; */
  margin-right: 20px;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  color:#007bff;
  border: 2px solid #1a1919;
  background-color: #ffffffec;
  cursor: pointer;
}

.restore-btn:hover{
  color: #ffffffec;
  background-color: #007bff;
  box-shadow: 0 0 10px #000000;
}

.reply-button:hover{
  color: #ffffffec;
  background-color: #007bff;
  box-shadow: 0 0 10px #000000;
}

.sender-text{
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .mail-page-container {
    flex-direction: column;
    height: auto;
  }
  
  .mail-list-container {
    width: 100%;
  }
}

.mail-list-box {
  padding: 20px;
}







.resize-handle {
  position: absolute;
  top: 0;
  right: -5px;
  height: 100%;
  width: 10px;
  cursor: col-resize;
  background-color: #bbb;
}

.mark-read-unread {
  color: #262728;
  cursor: pointer;
  margin-right: 3px;
}

.delete-button{
  color: #262728;
  cursor: pointer;
  background-color: #007bff;
  width: wrap-content;
}

