.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #4CAF50; */
  
}

.container h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
}

.container form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #84c3bd;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 0 10px #888888;
}

.container label {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
.container input {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #888888;
}

.container button {
  background-color: #333;
  border: none;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 15px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0 0 5px #888888;
  cursor: pointer;
}

  .container button:hover {
      background-color: #4CAF50;
  }

  .container button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
  }